services:
  ics:
    hostname: eurobay-ics
    build:
      context: .
      dockerfile: docker/Dockerfile.ics
    image: eatmcert/runway-lights:ics
    container_name: ics
    environment:
      - ICS_SERVER_PORT=502
      - ICS_API_PORT=54321
    networks:
      - internal-net
    restart: always

  scada:
    hostname: eurobay-scada
    build:
      context: .
      dockerfile: docker/Dockerfile.scada
    image: eatmcert/runway-lights:scada
    container_name: scada
    ports:
      - "80:80"
      - "23:23"
      - "21:21"
      - "30000-30001:30000-30001"
    environment:
      - ICS_SERVER_PORT=502
      - ICS_SERVER_IP=ics
      - SCADA_WEB_PORT=80
    networks:
      - internal-net
    depends_on:
      - ics
    cap_add:
      - NET_ADMIN
      - NET_RAW
    restart: always

networks:
  internal-net:
    driver: bridge
