services:
  ics:
    hostname: eurobay-ics
    build:
      context: .
      dockerfile: docker/Dockerfile.ics
    image: ics_image
    container_name: ics_container
    ports:
      - "54321:54321"
      - "502:502"
    environment:
      - ICS_SERVER_PORT=502
      - ICS_API_PORT=54321
    networks:
      - scada-net
    cap_add:
      - NET_ADMIN
      - NET_RAW

  scada:
    hostname: eurobay-scada
    build:
      context: .
      dockerfile: docker/Dockerfile.scada
    image: scada_image
    container_name: scada_container
    ports:
      - "8000:8000"
      - "23:23"
    environment:
      - ICS_SERVER_PORT=502
      - ICS_SERVER_IP=ics
      - SCADA_WEB_PORT=8000
    networks:
      - scada-net
    depends_on:
      - ics

networks:
  scada-net:
    driver: bridge
